<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.iotgo.dao.TodoListMapper">
    <resultMap id="BaseResultMap" type="fun.iotgo.entity.TodoList">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="todoListName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, todoListName, content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from todoList
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from todoList
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="fun.iotgo.entity.TodoList">
    insert into todoList (id, todoListName, content
      )
    values (#{id,jdbcType=INTEGER}, #{todolistname,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="fun.iotgo.entity.TodoList">
        insert into todoList
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="todolistname != null">
                todoListName,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="todolistname != null">
                #{todolistname,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="fun.iotgo.entity.TodoList">
        update todoList
        <set>
            <if test="todolistname != null">
                todoListName = #{todolistname,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.iotgo.entity.TodoList">
    update todoList
    set todoListName = #{todolistname,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>